<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div class="container">
    <div class="starter-template">
        <h2>OTP - Validate your OTP</h2>
        <h3 th:inline="text">Hello :
            [[${#httpServletRequest.remoteUser}]]!</h3>
        <form id="validateOtp" name="validateOtp" method="post">
            <fieldset>
                <div class="form-group">
                    <input type="text" name="otpNumber" id="otpNumber" class="form-control input-lg"
                           required="true" autofocus="true"/>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-primary btn-block"
                               value="Submit"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>